div {
    box-shadow: 2px 0px 21px 8px rgba(166, 158, 166, 1);
    width: 50%;
    background-color: rgb(27, 31, 16);
    margin: auto;
    margin-top: 100px;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 8px;


}

body {
    background-image: url(river.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    background-size: cover;
}

h1 {
    margin-bottom: 0px;
    margin-top: 0px;


}
